*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #232323;
}
.container{
    position: relative;
    height: 400px;
    border-bottom: 2px solid #fff;

}
.cloud{
    position:relative;
    top: 50px;
    width: 320px;
    height:100px;
    
    background-color: #0396FF;
    background-image: linear-gradient(160deg, #0396FF 0%, #0396FF 100%);

    border-radius: 100px;
}
.cloud:before{
    content:'';
    top: -50px;
    left: 50px;
    position: absolute;
    background-color: #0396FF;
    background-image: linear-gradient(160deg, #0093E9 0%, #0396FF 100%);

    width: 110px;
    height: 110px;
    
    border-radius: 100px;
    box-shadow: 85px 0 0 30px #0093E9;
}
.rainbody{
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding:0 20px;
}
.rainitem{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    border-radius: 100px;
    animation: Drop 5s linear infinite;
    transform-origin: bottom;
}
.rainitem:nth-child(1)
{
    animation-duration: 1.36s;
}
.rainitem:nth-child(2)
{
    animation-duration: 1.23s;
}
.rainitem:nth-child(3)
{
    animation-duration: 1.22s;
}
.rainitem:nth-child(4)
{
    animation-duration: 1.36s;
}
.rainitem:nth-child(5)
{
    animation-duration: 0.95s;
}
.rainitem:nth-child(6)
{
    animation-duration: 1.22s;
}
.rainitem:nth-child(7)
{
    animation-duration: 0.90s;
}
.rainitem:nth-child(8)
{
    animation-duration: 2.10s;
}
.rainitem:nth-child(9)
{
    animation-duration: 1.89s;
}
.rainitem:nth-child(10)
{
    animation-duration: 0.70s;
}
.rainitem:nth-child(11)
{
    animation-duration: 1.28s;
}
.rainitem:nth-child(12)
{
    animation-duration: 1.00s;
}
.rainitem:nth-child(13)
{
    animation-duration: 1.77s;
}
.rainitem:nth-child(14)
{
    animation-duration: .90s;
}
.rainitem:nth-child(15)
{
    animation-duration: 1.33s;
}
.rainitem:nth-child(16)
{
    animation-duration: 2.26s;
}
.rainitem:nth-child(17)
{
    animation-duration: 2.06s;
}
.rainitem:nth-child(18)
{
    animation-duration: 1.36s;
}
.rainitem:nth-child(19)
{
    animation-duration: 1.20s;
}
.rainitem:nth-child(20)
{
    animation-duration: 1.20s;
}
@keyframes Drop
{
    0%
    {
    transform: translatey(0) scale(1);
    }


   70%
   {
    transform:translatey(290px) scale(1)
   }
   100%
   {
    transform:translatey(290px) scale(0)
   }
}

   
